#footer {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -10;
}

#wrap {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto 0 auto;
    overflow: hidden;

}

#lightings {
    bottom: -60px;
    position: absolute;
    width: 100%;
}

section {
    /*border-radius*/
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 20px;
    width: 100%;
    position: relative;
    margin: auto;

}

#one {
    /*animation*/
    -webkit-animation: one 5s ease-in-out infinite alternate;
    -moz-animation: one 5s ease-in-out infinite alternate;
    -ms-animation: one 5s ease-in-out infinite alternate;
    -o-animation: one 5s ease-in-out infinite alternate;
    animation: one 5s ease-in-out infinite alternate;
}

@-webkit-keyframes one {
    from {
        -webkit-box-shadow: 0 0 250px 20px var(--accent);
        ;
    }

    to {
        -webkit-box-shadow: 0 0 100px 15px var(--accent);
    }
}

@-moz-keyframes one {
    from {
        -moz-box-shadow: 0 0 250px 20px var(--accent);
        ;
    }

    to {
        -moz-box-shadow: 0 0 100px 15px var(--accent);
    }
}

@-o-keyframes one {
    from {
        -o-box-shadow: 0 0 250px 20px var(--accent);
        ;
    }

    to {
        -o-box-shadow: 0 0 100px 15px var(--accent);
        ;
    }
}

@keyframes one {
    from {
        box-shadow: 0 0 250px 20px var(--accent);
        ;
    }

    to {
        box-shadow: 0 0 100px 15px var(--accent);
        ;
    }
}

#two {
    width: 90%;
    /*animation*/
    -webkit-animation: two 4s ease-in-out infinite alternate;
    -moz-animation: two 4s ease-in-out infinite alternate;
    -ms-animation: two 4s ease-in-out infinite alternate;
    -o-animation: two 4s ease-in-out infinite alternate;
    animation: two 4s ease-in-out infinite alternate;
}

@-webkit-keyframes two {
    from {
        -webkit-box-shadow: 0 0 250px 20px var(--accent);
        ;
    }

    to {
        -webkit-box-shadow: 0 0 100px 15px var(--secondary);
    }
}

@-moz-keyframes two {
    from {
        -moz-box-shadow: 0 0 250px 20px var(--accent);
        ;
    }

    to {
        -moz-box-shadow: 0 0 100px 15px var(--secondary);
    }
}

@-o-keyframes two {
    from {
        -o-box-shadow: 0 0 250px 20px var(--accent);
        ;
    }

    to {
        -o-box-shadow: 0 0 100px 15px var(--accent);
        ;
    }
}

@keyframes two {
    from {
        box-shadow: 0 0 250px 20px var(--accent);
        ;
    }

    to {
        box-shadow: 0 0 100px 15px var(--accent);
        ;
    }
}

#three {
    width: 80%;
    /*animation*/
    -webkit-animation: three 3s ease-in-out infinite alternate;
    -moz-animation: three 3s ease-in-out infinite alternate;
    -ms-animation: three 3s ease-in-out infinite alternate;
    -o-animation: three 3s ease-in-out infinite alternate;
    animation: three 3s ease-in-out infinite alternate;
}

@-webkit-keyframes three {
    from {
        -webkit-box-shadow: 0 0 250px 20px var(--secondary);
    }

    to {
        -webkit-box-shadow: 0 0 100px 15px var(--accent);
    }
}

@-moz-keyframes three {
    from {
        -moz-box-shadow: 0 0 250px 20px var(--accent);
        ;
    }

    to {
        -moz-box-shadow: 0 0 100px 15px var(--accent)
    }
}

@-o-keyframes three {
    from {
        -o-box-shadow: 0 0 250px 20px var(--secondary);
    }

    to {
        -o-box-shadow: 0 0 100px 15px var(--accent)
    }
}

@keyframes three {
    from {
        box-shadow: 0 0 250px 20px var(--secondary);
    }

    to {
        box-shadow: 0 0 100px 15px var(--accent)
    }
}

#four {
    width: 70%;
    /*animation*/
    -webkit-animation: four 2s ease-in-out infinite alternate;
    -moz-animation: four 2s ease-in-out infinite alternate;
    -ms-animation: four 2s ease-in-out infinite alternate;
    -o-animation: four 2s ease-in-out infinite alternate;
    animation: four 2s ease-in-out infinite alternate;
}

@-webkit-keyframes four {
    from {
        -webkit-box-shadow: 0 0 250px 20px #781848;
    }

    to {
        -webkit-box-shadow: 0 0 100px 15px #F2BBE9;
    }
}

@-moz-keyframes four {
    from {
        -moz-box-shadow: 0 0 250px 20px #781848;
    }

    to {
        -moz-box-shadow: 0 0 100px 15px #F2BBE9;
    }
}

@-o-keyframes four {
    from {
        -o-box-shadow: 0 0 250px 20px #781848;
    }

    to {
        -o-box-shadow: 0 0 100px 15px #F2BBE9;
    }
}

@keyframes four {
    from {
        shadow: 0 0 250px 20px #781848;
    }

    to {
        shadow: 0 0 100px 15px #F2BBE9;
    }
}

#five {
    width: 60%;
    /*animation*/
    -webkit-animation: five 1s ease-in-out infinite alternate;
    -moz-animation: five 1s ease-in-out infinite alternate;
    -ms-animation: five 1s ease-in-out infinite alternate;
    -o-animation: five 1s ease-in-out infinite alternate;
    animation: five 1s ease-in-out infinite alternate;
}

@-webkit-keyframes five {
    from {
        -webkit-box-shadow: 0 0 250px 20px var(--accent)
    }

    to {
        -webkit-box-shadow: 0 0 100px 15px var(--accent)
    }
}

@-moz-keyframes five {
    from {
        -moz-box-shadow: 0 0 250px 20px var(--accent)
    }

    to {
        -moz-box-shadow: 0 0 100px 15px var(--accent);
    }
}

@-o-keyframes five {
    from {
        -o-box-shadow: 0 0 250px 20px var(--accent)
    }

    to {
        -o-box-shadow: 0 0 100px 15px var(--accent)
    }
}

@keyframes five {
    from {
        box-shadow: 0 0 250px 20px var(--accent)
    }

    to {
        box-shadow: 0 0 100px 15px var(--accent)
    }
}