:root {
    --primary: rgb(0, 0, 0);
    --secondary: rgb(255, 255, 255);
    --font: rgb(255, 255, 255);
    --accent: rgb(0, 153, 255);
    overflow-x: hidden;
}

@font-face {
    font-family: "font";
    /*a name to be used later*/
    src: url("../fonts/font.otf");
    /*URL to font*/
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    box-shadow: 0 0 10px var(--accent);
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent);
    box-shadow: 0 0 30px var(--accent);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}


#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -101;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}

body {
    font-family: "font";
    background-color: var(--primary);
    margin: 0;
}

.title {
    color: var(--accent);
    margin: auto;
    text-align: center;
    font-size: 70px;
    text-shadow: 0 0 30px var(--accent);
    height: 200px;
    margin-top: -20px;
}

.appTitle {
    color: var(--accent);
    margin: auto;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 50px var(--accent);
    height: 200px;
    margin-top: -20px;
    margin-left: 7vh;
}

#input {
    width: 750px;
    height: 75px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: var(--font);
    font-family: "font";
    background-color: var(--secondary);
    color: var(--primary);
    transition: all 0.3s ease-in-out;
    display: flex;
    margin-inline: auto;
}

#input:focus {
    box-shadow: 0 0 50px var(--accent);
}

#frame {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
    text-shadow: 0 0 40px var(--accent);

}

#loading {
    color: var(--accent);
    font-size: 100px;
    z-index: -10000;
}

#extras {
    width: 750px;
    height: 100px;
    background-color: var(--primary);
    color: var(--accent);
    text-shadow: 0 0 40px var(--accent);
    box-shadow: 0 0 40px var(--accent);
    margin: auto;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 20px;
    transition: all 0.2s ease-in;
    z-index: 10;
}

#extras:hover {
    color: var(--secondary);
}

.bar {
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
}

#logo {
    color: var(--accent);
    font-size: 35px;
    text-shadow: 0 0 10px var(--accent);
    margin-top: 0px;
    margin-left: 5px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.controls {
    background-color: var(--primary);
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 19px;
}

#firsttab {
    background-color: var(--primary);
    color: var(--secondary);
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 200px;
    height: 40px;
    top: 10px;
    left: 40px;
    border-radius: 8px;
}

#ftabtxt {
    color: var(--secondary);
    font-size: 20px;
    margin-top: 3px;
    text-overflow: ellipsis;
}

#tab {
    display: flex;
    background-color: var(--primary);
    color: var(--secondary);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 40px;
    top: 10px;
    border-radius: 8px;
    margin-right: 5px;
}

#tabTxt {
    color: var(--secondary);
    font-size: 20px;
    margin-top: 3px;
    text-overflow: ellipsis;
}


#logo:hover {
    color: var(--secondary);
    text-shadow: 0 0 10px var(--secondary);
}

#newTabButton {
    background-color: var(--primary);
    margin-top: -35px;
    margin-left: 193vh;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#newTab {
    font-size: 30px;
    color: var(--secondary);
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    line-height: 1;
    margin-top: 17px;
}

#newTabButton:hover {
    box-shadow: 0 0 10px var(--secondary);
}

.tabs {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 245px;
    overflow-x: auto;
    max-width: calc(100% - 80px);
    /* Adjust as needed */
}

#x {
    position: absolute;
    font-size: 20px;
    color: var(--secondary);
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    margin-top: -5px;
    margin-left: 160px;
    transition: all 0.1s ease-in-out;
}

#x:hover {
    color: var(--accent);
    text-shadow: 0 0 10px var(--secondary);
}

#tab.active {
    background-color: var(--secondary);
    color: var(--primary);
}

#tab.active #tabTxt {
    color: var(--primary);
}

#tab.active #x {
    color: var(--primary);
}

#firsttab.active {
    background-color: var(--secondary);
    color: var(--primary);
}

#firsttab.active #ftabtxt {
    color: var(--primary);
}

#icons {
    margin-left: 0px;
}

.nav {
    background-color: var(--primary);
    box-shadow: var(--accent) 0px 0px 50px;
    height: 100vh;
    width: 50px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;

}

#home {
    margin-right: 5px;
    position: fixed;
    height: 1%;
    top: 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-shadow: var(--accent) 0px 0px 10px;
}



#link {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.1s ease-out;
    text-decoration: none;
    margin-top: 5px;
    display: flex;
    background-color: none;
    border-radius: 10px;
    margin-left: -2px;
}

#link:hover {
    background-color: var(--accent);
    box-shadow: var(--accent) 0px 0px 10px;
}


.apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 5vh;
    padding: 5vh;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -40px;
    margin-left: 12vh;
}

#appslogo {
    filter: drop-shadow(0 0 10px var(--accent));
    color: var(--secondary);
    width: 25px;
    margin: auto;
}

#chatlogo {
    filter: drop-shadow(0 0 10px var(--accent));
    color: var(--secondary);
    width: 25px;
    margin: auto;
}

#gameslogo {
    filter: drop-shadow(0 0 10px var(--accent));
    color: var(--secondary);
    width: 30px;
    margin: auto;
}

#settingslogo {
    filter: drop-shadow(0 0 10px var(--accent));
    color: var(--secondary);
    width: 40px;
    margin: auto;
}

.app {
    background-color: var(--primary);
    box-shadow: 0 0 30px var(--accent);
    border-radius: 20px;
    color: var(--secondary);
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.app:hover {
    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: 0 0 30px var(--secondary);
}

.app img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 20px;
    margin-top: 20px;
}

.app h3 {
    font-size: 25px;
    margin-top: 10px;
}

.game {
    background-color: var(--primary);
    box-shadow: 0 0 30px var(--accent);
    border-radius: 20px;
    color: var(--secondary);
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}

.game:hover {
    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: 0 0 30px var(--secondary);
}

.game img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 20px;
    margin-top: 20px;
}

.game h3 {
    font-size: 25px;
    margin-top: 10px;
}

.games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 5vh;
    padding: 5vh;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -40px;
    margin-left: 12vh;
}

#time {
    color: var(--font);
    font-size: 30px;
    margin: auto;
    margin-right: 21vh;
}

.settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;
}

.settings-item {
    background-color: var(--primary);
    box-shadow: 0 0 30px var(--accent);
    border-radius: 20px;
    color: var(--secondary);
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#cbg {
    display: flex;
    flex-direction: column;
}

#proxy-select {
    width: 200px;
    height: 75px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#proxy-select:hover {
    box-shadow: var(--accent) 0px 0px 20px;
}

#wisp-select {
    width: 200px;
    height: 75px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#wisp-select:hover {
    box-shadow: var(--accent) 0px 0px 20px;
}

#load-select {
    width: 250px;
    height: 75px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#load-select:hover {
    box-shadow: var(--accent) 0px 0px 20px;
}

#theme-select {
    width: 200px;
    height: 75px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#theme-select:hover {
    box-shadow: var(--accent) 0px 0px 20px;
}

.bg {
    display: flex;
    flex-direction: column;
}

#bgtitle {
    color: var(--font);
    font-size: 40px;
    margin-top: -20px;
}

#bginput {
    width: 200px;
    height: 75px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 15px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#bginput:hover {
    box-shadow: var(--accent) 0px 0px 20px;
}

#bgset {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 15px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#bgset:hover {
    box-shadow: var(--accent) 0px 0px 20px;
    background-color: var(--accent);
}

#proxytitle {
    color: var(--font);
    font-size: 60px;
}

#loadtitle {
    color: var(--font);
    font-size: 40px;
    margin-top: 57px;
}

#ab {
    width: 200px;
    height: 75px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#ab:hover {
    background-color: var(--accent);
    color: var(--primary);
    box-shadow: 0 0 30px var(--accent);
}

.button {
    margin-top: 20px;
    width: 200px;
    height: 55px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--accent);
    color: var(--primary);
    box-shadow: 0 0 30px var(--accent);
}

#blooket {
    margin-top: -20px;
}

#chatframe {
    width: 90%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -10000;
    background-color: var(--primary);
    overflow: hidden;
    margin: 0 auto;
    display: block;
    margin-top: -50px;
    border-radius: 20px;
    box-shadow: var(--accent) 0px 0px 20px;
    margin-left: 14dvh;
}

#settingsnav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 530px;
    margin: auto;
    border-radius: 30px;
    margin-top: -70px;
    background-color: var(--primary);
    color: var(--secondary);
    box-shadow: 0 0 30px var(--accent);
    gap: 60px;
}

.sni {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sni:hover {
    color: var(--accent);
    text-shadow: 0 0 10px var(--accent);
}

.sni.active {
    color: var(--accent);
    text-shadow: 0 0 10px var(--accent);
}


.wrapper {
    position: fixed;
    top: 400px;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: blur(150px);
    z-index: -100;
}

.gradient {
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
    mix-blend-mode: screen;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.1, 0, 0.9, 1);
}


.gradient-1 {
    background: var(--accent) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 700px;
    height: 700px;
    animation-duration: 11s;
    opacity: 0.6;
    left: 60%;
    top: 40%;
    z-index: -101;
    animation-name: animation-gradient-1;
}

.gradient-2 {
    background: var(--accent) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 600px;
    height: 600px;
    animation-duration: 11s;
    opacity: 0.6;
    left: 40%;
    top: 60%;
    z-index: -101;
    animation-name: animation-gradient-2;
}

.gradient-3 {
    background: var(--accent) none repeat scroll 0% 0% / auto padding-box border-box;
    width: 500px;
    height: 500px;
    animation-duration: 11s;
    opacity: 0.6;
    left: 50%;
    top: 50%;
    z-index: -101;
    animation-name: animation-gradient-3;
}

@keyframes animation-gradient-1 {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(-20deg) translateX(20%);
    }

    25% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(80deg) translateX(30%);
    }

    50% {
        transform: translateY(-50%) translateX(-50%) rotate(180deg) translateX(25%);
    }

    75% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(240deg) translateX(15%);
    }

    100% {
        transform: translateY(-50%) translateX(-50%) rotate(340deg) translateX(20%);
    }
}

@keyframes animation-gradient-2 {
    0% {
        transform: translateY(-50%) translateX(-50%) rotate(40deg) translateX(-20%);
    }

    25% {
        transform: translateY(-50%) translateX(-50%) skew(15deg, 15deg) rotate(110deg) translateX(-5%);
    }

    50% {
        transform: translateY(-50%) translateX(-50%) rotate(210deg) translateX(-35%);
    }

    75% {
        transform: translateY(-50%) translateX(-50%) skew(-15deg, -15deg) rotate(300deg) translateX(-10%);
    }

    100% {
        transform: translateY(-50%) translateX(-50%) rotate(400deg) translateX(-20%);
    }
}

@keyframes animation-gradient-3 {
    0% {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
    }

    20% {
        transform: translateY(-50%) translateX(-50%) translateX(20%) translateY(-30%);
    }

    40% {
        transform: translateY(-50%) translateX(-50%) translateX(-25%) translateY(-15%);
    }

    60% {
        transform: translateY(-50%) translateX(-50%) translateX(30%) translateY(20%);
    }

    80% {
        transform: translateY(-50%) translateX(-50%) translateX(5%) translateY(35%);
    }

    100% {
        transform: translateY(-50%) translateX(-50%) translateX(-15%) translateY(10%);
    }
}

#boltlogo {
    text-decoration: none;
    color: var(--accent);
    font-size: 50px;
    transition: all 0.2s ease-out;
    height: 1px;
    margin: auto;
}

#boltlogo:hover {
    color: var(--secondary);
    text-shadow: 0 0 10px var(--secondary);
}