:root {
    --primary: rgb(0, 4, 7);
    --secondary: rgb(255, 255, 255);
    --font: rgb(255, 255, 255);
    --accent: rgb(0, 153, 255);
    overflow-x: hidden;
}

@font-face {
    font-family: "font";
    /*a name to be used later*/
    src: url("../fonts/font.otf");
    /*URL to font*/
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    box-shadow: 0 0 10px var(--accent);
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent);
    box-shadow: 0 0 30px var(--accent);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}


#bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -101;
}

#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -100;
}

body {
    font-family: "font";
    background-color: var(--primary);
    margin: 0;
}

.title {
    color: var(--accent);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 9vh;
    text-shadow: 0 0 30px var(--accent);
    height: 120px;
}

#i {
    height: fit-content;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    translate: 5vh;
}


#input {
    width: 55vw;
    height: 11vh;
    border-radius: 4vh;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    transition: all 0.3s ease-in-out;
    display: flex;
    margin-inline: auto;
    margin-top: 6vh;
}

input:hover {
    box-shadow: 0 0 20px var(--accent);
}

#input:focus {
    box-shadow: 0 0 50px var(--accent);
}

.appTitle {
    color: var(--accent);
    margin: auto;
    text-align: center;
    font-size: 50px;
    text-shadow: 0 0 50px var(--accent);
    height: 200px;
    margin-top: -20px;
    margin-left: 7vh;
}

#frame {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100vh;
    border-radius: 0;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -100;
    text-shadow: 0 0 40px var(--accent);

}

#loading {
    color: var(--accent);
    font-size: 100px;
    z-index: -10000;
}

#discord {
    margin: auto;
    position: fixed;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 2.5vh;
    right: 2.5vh;
}

#dicon {
    color: var(--secondary);
    margin: 0 auto;
    margin-bottom: -.7vh;
}

#discordicon {
    background-color: var(--primary);
    color: var(--secondary);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0 0 15px var(--accent);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

#discordicon:hover {
    background-color: var(--accent);
}

.bar {
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
}

#logo {
    color: var(--accent);
    font-size: 35px;
    text-shadow: 0 0 10px var(--accent);
    margin-top: 0px;
    margin-left: 5px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.controls {
    background-color: var(--primary);
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 19px;
}

#firsttab {
    background-color: var(--primary);
    color: var(--secondary);
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    width: 200px;
    height: 40px;
    top: 10px;
    left: 40px;
    border-radius: 8px;
}

#ftabtxt {
    color: var(--secondary);
    font-size: 20px;
    margin-top: 3px;
    text-overflow: ellipsis;
}

#tab {
    display: flex;
    background-color: var(--primary);
    color: var(--secondary);
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
    height: 40px;
    top: 10px;
    border-radius: 8px;
    margin-right: 5px;
}

#tabTxt {
    color: var(--secondary);
    font-size: 20px;
    margin-top: 3px;
    text-overflow: ellipsis;
}

canvas {
    display: block;
}

#logo:hover {
    color: var(--secondary);
    text-shadow: 0 0 10px var(--secondary);
}

.nav {
    background-color: var(--primary);
    box-shadow: var(--accent) 0px 0px 50px;
    height: 100vh;
    width: 3.5%;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
}

#home {
    margin-right: 5px;
    position: fixed;
    height: 1%;
    top: 0;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-shadow: var(--accent) 0px 0px 10px;
}



#link {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: all 0.1s ease-out;
    text-decoration: none;
    margin-top: 5px;
    display: flex;
    background-color: none;
    border-radius: 10px;
    margin-left: -2px;
}

#link:hover {
    background-color: var(--accent);
    box-shadow: var(--accent) 0px 0px 10px;
}


.apps {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 5vh;
    padding: 5vh;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: -40px;
    translate: 6vh;
}

#appslogo {
    filter: drop-shadow(0 0 10px var(--accent));
    color: var(--secondary);
    width: 25px;
    margin: auto;
}

#chatlogo {
    filter: drop-shadow(0 0 10px var(--accent));
    color: var(--secondary);
    width: 25px;
    margin: auto;
}

#gameslogo {
    filter: drop-shadow(0 0 10px var(--accent));
    color: var(--secondary);
    width: 30px;
    margin: auto;
}

#settingslogo {
    filter: drop-shadow(0 0 10px var(--accent));
    color: var(--secondary);
    width: 40px;
    margin: auto;
}



.app {
    background-color: var(--primary);
    box-shadow: 0 0 25px var(--accent);
    border-radius: 20px;
    color: var(--secondary);
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.app:hover {
    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: 0 0 30px var(--secondary);
}

.app img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 20px;
    margin-top: 20px;
}

.app h3 {
    font-size: 25px;
    margin-top: 10px;
}

.game {
    background-color: var(--primary);
    box-shadow: 0 0 30px var(--accent);
    border-radius: 20px;
    color: var(--secondary);
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

}

.game:hover {
    background-color: var(--secondary);
    color: var(--primary);
    box-shadow: 0 0 30px var(--secondary);
}

.game img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    border-radius: 20px;
    margin-top: 20px;
}

.game h3 {
    font-size: 25px;
    margin-top: 10px;
}

.games {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 5vh;
    padding: 5vh;
    width: 100%;
    height: auto;
    max-width: 1200px;
    margin: 0 auto;
    translate: 6vh;
    margin-top: -40px;
}

.space {
    height: 100px;
}


.settings {
    text-align: center;
    margin: auto;
    margin-left: 7vh;
    margin-top: -15vh;
}


.settings-item {
    background-color: var(--primary);
    box-shadow: 0 0 30px var(--accent);
    border-radius: 20px;
    color: var(--secondary);
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#cbg {
    display: flex;
    flex-direction: column;
}

.select {
    width: 200px;
    height: 75px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.select:hover {
    box-shadow: var(--accent) 0px 0px 20px;
}

.settings-section {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;

}

.ti {
    font-size: 10vh;
    margin-top: 10px;
    display: flex;
    margin: auto;
    text-align: center;
    align-items: center;
    color: var(--font);
    justify-content: center;
    margin-bottom: 3vh;
    margin-top: 10vh;
}

.bg {
    display: flex;
    flex-direction: column;
}

#bgtitle {
    color: var(--font);
    font-size: 40px;
    margin-top: -20px;
}

#bginput {
    width: 200px;
    height: 75px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 15px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#bginput:hover {
    box-shadow: var(--accent) 0px 0px 20px;
}

#bgset {
    margin-top: 10px;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 15px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#bgset:hover {
    box-shadow: var(--accent) 0px 0px 20px;
    background-color: var(--accent);
}

#proxytitle {
    color: var(--font);
    font-size: 60px;
}

#loadtitle {
    color: var(--font);
    font-size: 40px;
    margin-top: 57px;
}

#ab {
    width: 200px;
    height: 75px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#ab:hover {
    background-color: var(--accent);
    color: var(--primary);
    box-shadow: 0 0 30px var(--accent);
}

.button {
    margin-top: 20px;
    width: 200px;
    height: 55px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--accent);
    color: var(--primary);
    box-shadow: 0 0 30px var(--accent);
}

#blooket {
    margin-top: -20px;
}

#chatframe {
    width: 90%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -10000;
    background-color: var(--primary);
    overflow: hidden;
    margin: 0 auto;
    display: block;
    margin-top: -50px;
    border-radius: 20px;
    box-shadow: var(--accent) 0px 0px 20px;
    margin-left: 14dvh;
}

.sni {
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sni:hover {
    color: var(--accent);
    text-shadow: 0 0 10px var(--accent);
}

.sni.active {
    color: var(--accent);
    text-shadow: 0 0 10px var(--accent);
}


#boltlogo {
    text-decoration: none;
    color: var(--accent);
    font-size: 50px;
    transition: all 0.2s ease-out;
    height: 1px;
    margin: 0 auto;
}

#boltlogo:hover {
    color: var(--secondary);
    text-shadow: 0 0 10px var(--secondary);
}

#engine-select {
    width: 200px;
    height: 75px;
    border-radius: 20px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 20px;
    color: var(--primary);
    font-family: "font";
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.2s ease-out;
}

#engine-select:hover {
    box-shadow: var(--accent) 0px 0px 20px;
}